@font-face {
    font-family:Badaboom;
    src: url(fonts/BADABB__.TTF);
}

#title{
	font-size: 80px;
	color: rgb(249, 252, 85);
	text-align: center;
	font-family: Badaboom;
	text-shadow: 6px 0 0 black, -6px 0 0 black, 0 6px 0 black, 0 -6px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
	padding-top: 60px;
}

#searchbar{
	
	margin-left: auto;
    margin-right: auto;
}

#search-bar{
	background-color: rgb(33, 33, 110);
	border: solid black;
	border-radius: 5%;
	width: 300px;
	color: white;
}

#search-button{
	background-color: rgb(33, 33, 110);
	height: 30px;
	width:60px;
	border: none;
}

#info{
	margin-top: 30px; 
	background-color: rgb(33, 33, 110);
	border-radius: 5%;
	padding: 30px;
}

#photo{
	background-color: red;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: solid black;
	border-width: 5px;
}
#super-image{
	border-radius: 50%;
}

#large-text-box{
	background-color: red;
	width: 300px;
	height: 200px;
	border-radius: 10%;
	margin-left: 10px;
  	margin-right: 10px;
	border: solid black;
	border-width: 5px;
	color: white;
	font-family: Badaboom;

}

#small-text-box{
	background-color: red;
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin-left: 10px;
  	margin-right: 10px;
	border: solid black;
	border-width: 5px;
	color: white;
	font-family: Badaboom;
}

